In [ ]:
# Creating a list of integers from 1 to 10
number_list = list(range(1, 11))

# Displaying the created list
print("List of integers from 1 to 10:", number_list)

List of integers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Creating a list of integers from 1 to 10
number_list = list(range(1, 11))

# Appending the square of each number to the list
squared_list = [num ** 2 for num in number_list]

# Displaying the updated list
print("Original list of integers:", number_list)
print("List with squares:", squared_list)

Original list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List with squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Creating a list of integers from 1 to 10
number_list = list(range(1, 11))

# Appending the square of each number to the list
squared_list = [num ** 2 for num in number_list]

# Finding and printing the sum of all elements in the list
total_sum = sum(number_list + squared_list)
print("Sum of all elements in the list:", total_sum)

Sum of all elements in the list: 440

In [ ]:
# Creating a tuple containing the first five even numbers
even_numbers_tuple = tuple(range(2, 12, 2))

# Displaying the created tuple
print("Tuple of the first five even numbers:", even_numbers_tuple)

Tuple of the first five even numbers: (2, 4, 6, 8, 10)

In [ ]:
# Creating a tuple containing the first five even numbers
even_numbers_tuple = tuple(range(2, 12, 2))

# Finding and printing the product of all elements in the tuple
product = 1
for num in even_numbers_tuple:
    product *= num

print("Product of all elements in the tuple:", product)

Product of all elements in the tuple: 3840

In [ ]:
# Creating two sets of odd numbers between 1 to 10
odd_set1 = set(range(1, 11, 2))
odd_set2 = set(range(1, 11, 2))

# Displaying the created sets
print("Set 1 of odd numbers:", odd_set1)
print("Set 2 of odd numbers:", odd_set2)

Set 1 of odd numbers: {1, 3, 5, 7, 9}
Set 2 of odd numbers: {1, 3, 5, 7, 9}

In [ ]:
# Creating two sets of odd numbers between 1 to 10
odd_set1 = set(range(1, 11, 2))
odd_set2 = set(range(1, 11, 2))

# Finding and printing the union of the two sets
union_set = odd_set1.union(odd_set2)

print("Union of the two sets:", union_set)

Union of the two sets: {1, 3, 5, 7, 9}

In [ ]:
# Creating two sets of odd numbers between 1 to 10
odd_set1 = set(range(1, 11, 2))
odd_set2 = set(range(1, 11, 2))

# Finding and printing the intersection of the two sets
intersection_set = odd_set1.intersection(odd_set2)

print("Intersection of the two sets:", intersection_set)

Intersection of the two sets: {1, 3, 5, 7, 9}

In [ ]:
# Creating a dictionary with lowercase alphabets and their ASCII values
alphabet_dict = {chr(i): ord(chr(i)) for i in range(ord('a'), ord('e') + 1)}

# Displaying the created dictionary
print("Dictionary with lowercase alphabets and their ASCII values:", alphabet_dict)

Dictionary with lowercase alphabets and their ASCII values: {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [ ]:
# Creating a dictionary with lowercase alphabets and their ASCII values
alphabet_dict = {chr(i): ord(chr(i)) for i in range(ord('a'), ord('e') + 1)}

# Displaying the created dictionary
print("Dictionary with lowercase alphabets and their ASCII values:")
print(alphabet_dict)

Dictionary with lowercase alphabets and their ASCII values:
{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}